<div class="exception-body savecheckout-body">
    <div class="exception-panel">
        <img src="assets/layout/images/exception/icon-savecheckout.png" />

        <p-button label="Inicio" [routerLink]="['/check-out']"></p-button>
        <p-button label="Visualizar" [routerLink]="['/']"></p-button>
        <p-button label="Imprimir" [routerLink]="['/']"></p-button>
        <p-button label="Administrar" [routerLink]="['/']"></p-button>
    </div>

    <div class="exception-band">
        <div class="exception-content" >
            <h3>GUARDADO</h3>
            <p>Los datos se han guardado correctamente</p>
            <img src="assets/layout/images/logo.png" />
        </div>
    </div>
</div>