
<button pButton pRipple routerLink="/check-in/create" class="p-button-info" label="Crear Check-In" icon="pi pi-plus-circle" iconPos="left"></button>
<p-toast ></p-toast>
<div class="card">
    <h1>Listado de Check-in</h1>
    <p-table *ngIf="listadoCheckIn?.length>0; else aviso" [value]="listadoCheckIn" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Num. Dias</th>
                <th>Fecha Ingreso</th>
                <th>Fecha Salida</th>
                <th>Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-listadoCheckIn>
            <tr>
                <td>{{listadoCheckIn.id}}</td>
                <td>{{listadoCheckIn.numeroDias}}</td>
                <td>{{listadoCheckIn.fechaIngreso}}</td>
                <td>{{listadoCheckIn.fechaSalida}}</td>
                <td>
                    <button pButton pRipple routerLink="/check-in/detalle" icon="pi pi-search" class="p-button-rounded p-button-success p-mr-2" 
                    [routerLink]="['/check-in/detalle',listadoCheckIn.id]"></button>
                    <button pButton pRipple icon="pi pi-cog" class="p-button-rounded p-button-info p-mr-2"></button>
                    <button pButton pRipple (click)="eliminar(listadoCheckIn)" icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template #aviso>
        <p-card>
             No hay habitaciones
        </p-card>
    </ng-template>
</div>