<h4>Reusable CSS widgets for your applications.</h4>

<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4>Overview Boxes</h4>
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="p-grid p-nogutter card widget-overview-box overview-box-1">
                        <span class="overview-box-name">Unread Messages</span>
                        <span class="overview-box-count">150</span>
                        <span class="overview-box-badge">+30%</span>
                        <img src="assets/layout/images/dashboard/chart-1.svg" />
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="p-grid p-nogutter card widget-overview-box overview-box-2">
                        <span class="overview-box-name">Check-Ins</span>
                        <span class="overview-box-count">532</span>
                        <span class="overview-box-badge">+45%</span>
                        <img src="assets/layout/images/dashboard/chart-2.svg" />
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="p-grid p-nogutter card widget-overview-box overview-box-3">
                        <span class="overview-box-name">Files Synced</span>
                        <span class="overview-box-count">640</span>
                        <span class="overview-box-badge">-75%</span>
                        <img src="assets/layout/images/dashboard/chart-3.svg" />
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3">
                    <div class="p-grid p-nogutter card widget-overview-box overview-box-4">
                        <span class="overview-box-name">Users Online</span>
                        <span class="overview-box-count">5251</span>
                        <span class="overview-box-badge">25%</span>
                        <img src="assets/layout/images/dashboard/chart-4.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12">

        <div class="widget-activity-feed">
            <div class="p-shadow-content">
                <h4>ACTIVITY FEED</h4>
                <h5>Last Activity</h5>
                <p>Updated 1 minute ago</p>
                <div class="p-grid">
                    <div class="p-col-12 p-md-3">
                        <span>INCOME</span>
                        <div class="knob income">$900</div>
                    </div>
                    <div class="p-col-12 p-md-3">
                        <span>TAX</span>
                        <div class="knob tax">$250</div>
                    </div>
                    <div class="p-col-12 p-md-3">
                        <span>INVOICES</span>
                        <div class="knob invoice">$125</div>
                    </div>
                    <div class="p-col-12 p-md-3">
                        <span>EXPENSES</span>
                        <div class="knob expense">$250</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card widget-timeline p-fluid">
            <div class="p-grid">
                <div class="p-col-3">
                    <span class="event-time">just now</span>
                    <i class="pi pi-map-marker" style="color:#009688"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#009688">Katherine May</span>
                    <span class="event-text">Lorem ipsun dolor amet</span>
                    <div class="event-content">
                        <img src="assets/layout/images/dashboard/bridge.png">
                    </div>
                </div>

                <div class="p-col-3">
                    <span class="event-time">12h ago</span>
                    <i class="pi pi-star-o" style="color:#E91E63"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#E91E63">Brandon Santos</span>
                    <span class="event-text">Ab nobis, magnam sunt eum. Laudantium, repudiandae, similique!.</span>
                </div>

                <div class="p-col-3">
                    <span class="event-time">15h ago</span>
                    <i class="pi pi-comment" style="color:#9c27b0"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#9c27b0">Stephan Ward</span>
                    <span class="event-text">Omnis veniam quibusdam ratione est repellat qui nam quisquam ab mollitia dolores ullam voluptates, similique, dignissimos.</span>
                </div>

                <div class="p-col-3">
                    <span class="event-time">2d ago</span>
                    <i class="pi pi-globe" style="color:#ff9800"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#ff9800">Jason Smith</span>
                    <span class="event-text">Laudantium, repudiandae, similique!</span>
                    <div class="event-content">
                        <img src="assets/layout/images/dashboard/map.png">
                    </div>
                </div>

                <div class="p-col-3">
                    <span class="event-time">1w ago</span>
                    <i class="pi pi-heart" style="color:#607d8b"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner">Kevin Cox</span>
                    <span class="event-text">Quibusdam ratione est repellat qui nam quisquam veniam quibusdam ratione.</span>
                </div>

                <div class="p-col-3">
                    <span class="event-time">2w ago</span>
                    <i class="pi pi-compass" style="color:#FFC107"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#FFC107">Walter White</span>
                    <span class="event-text">I am the one who knocks!</span>
                </div>

                <div class="p-col-12">
                    <button type="button" label="Refresh" icon="pi pi-refresh" pButton></button>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-8">
        <div class="p-grid">
            <div class="p-col-12 p-lg-6">
                <div class="widget-user-card p-shadow-content">
                    <div class="user-card-header">
                        <img src="assets/layout/images/dashboard/user-card-header.png"/>
                    </div>
                    <div class="user-card-content">
                        <img src="assets/layout/images/profile-image.png" />

                        <div class="user-card-name">
                            <span>Claire White</span>
                        </div>

                        <div class="user-detail">
                            <ul>
                                <li class="clearfix">
                                    <div class="project-progressbar">
                                        <div class="project-progressbar-value" style="width: 50%"></div>
                                    </div>
                                    <i class="pi pi-list"></i>
                                    <span class="project-title">Tasks</span>
                                    <span class="project-detail">3 open</span>
                                </li>
                                <li class="clearfix">
                                    <div class="project-progressbar">
                                        <div class="project-progressbar-value" style="width: 20%"></div>
                                    </div>
                                    <i class="pi pi-dollar"></i>
                                    <span class="project-title">Revenue</span>
                                    <span class="project-detail">+20%</span>
                                </li>
                                <li class="clearfix">
                                    <div class="project-progressbar">
                                        <div class="project-progressbar-value" style="width: 65%"></div>
                                    </div>
                                    <i class="pi pi-money-bill"></i>
                                    <span class="project-title">Payments</span>
                                    <span class="project-detail">24 new</span>

                                </li>
                                <li class="clearfix">
                                    <div class="project-progressbar">
                                        <div class="project-progressbar-value" style="width: 80%"></div>
                                    </div>
                                    <i class="pi pi-briefcase"></i>
                                    <span class="project-title">Clients</span>
                                    <span class="project-detail">+80%</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-lg-6">
                <div class="card p-fluid">
                    <h4>Contact Form</h4>
                    <div class="p-field">
                        <label for="firstname">First Name</label>
                        <input pInputText id="firstname" />
                    </div>
                    <div class="p-field">
                        <label for="lastname">Last Name</label>
                        <input pInputText id="lastname" />
                    </div>
                    <div class="p-field">
                        <label for="email">Email</label>
                        <input pInputText id="email" />
                    </div>
                    <div class="p-field">
                        <label for="message">Message</label>
                        <textarea pInputTextarea id="message" ></textarea>
                    </div>
                    <button type="button" label="Send" pButton></button>
                </div>
            </div>

            <div class="p-col-12 p-lg-6">
                <div class="card widget-contacts">
                    <h4>Contacts</h4>
                    <ul>
                        <li class="clearfix">
                            <img src="assets/layout/images/profile-image.png" style="width: 45px"/>
                            <div class="contact-info">
                                <span class="name">Jane White (me)</span>
                                <span class="location">jane@pf-barcelona.com</span>
                            </div>
                            <div class="contact-actions">
                                <span class="connection-status online">online</span>
                                <i class="pi pi-envelope"></i>
                                <i class="pi pi-reply"></i>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/layout/images/avatar1.png" style="width: 45px"/>
                            <div class="contact-info">
                                <span class="name">Joshua Williams</span>
                                <span class="location">joshua@pf-barcelona.com</span>
                            </div>
                            <div class="contact-actions">
                                <span class="connection-status online">online</span>
                                <i class="pi pi-envelope"></i>
                                <i class="pi pi-reply"></i>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/layout/images/avatar2.png" style="width: 45px"/>
                            <div class="contact-info">
                                <span class="name">Emily Clark</span>
                                <span class="location">emily@pf-barcelona.com</span>
                            </div>
                            <div class="contact-actions">
                                <span class="connection-status offline">offline</span>
                                <i class="pi pi-envelope"></i>
                                <i class="pi pi-reply"></i>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/layout/images/avatar3.png" style="width: 45px"/>
                            <div class="contact-info">
                                <span class="name">Tim Johnson</span>
                                <span class="location">tim@pf-barcelona.com</span>
                            </div>
                            <div class="contact-actions">
                                <span class="connection-status online">online</span>
                                <i class="pi pi-envelope"></i>
                                <i class="pi pi-reply"></i>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/layout/images/avatar4.png" style="width: 45px"/>
                            <div class="contact-info">
                                <span class="name">David Stark</span>
                                <span class="location">kelly@pf-barcelona.com</span>
                            </div>
                            <div class="contact-actions">
                                <span class="connection-status offline">offline</span>
                                <i class="pi pi-envelope"></i>
                                <i class="pi pi-reply"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="p-col-12 p-lg-6">
                <div class="widget-pricing-box pricing-pro">
                    <div class="pricing-header">
                        <div class="p-grid">
                            <div class="p-col-6">
                                <h3>PROFESSIONAL</h3>
                                <p>For professionals</p>
                            </div>
                            <div class="p-col-6">
                                <h3>$10</h3>
                                <p>PER YEAR</p>
                            </div>
                        </div>
                    </div>

                    <div class="pricing-features">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-6">
                                <span class="pricing-feature-icon"><i class="pi pi-check"></i></span>
                                <span class="pricing-feature-text">Responsive</span>
                            </div>
                            <div class="p-col-12 p-md-6">
                                <span class="pricing-feature-icon"><i class="pi pi-check"></i></span>
                                <span class="pricing-feature-text">7/24 Support</span>
                            </div>
                            <div class="p-col-12 p-md-6">
                                <span class="pricing-feature-icon"><i class="pi pi-check"></i></span>
                                <span class="pricing-feature-text">Push Messages</span>
                            </div>
                            <div class="p-col-12 p-md-6">
                                <span class="pricing-feature-icon"><i class="pi pi-check"></i></span>
                                <span class="pricing-feature-text">Free Shipping</span>
                            </div>
                            <div class="p-col-12 p-md-6">
                                <span class="pricing-feature-icon"><i class="pi pi-check"></i></span>
                                <span class="pricing-feature-text">Unlimited Storage</span>
                            </div>
                        </div>
                    </div>

                    <div class="pricing-footer">
                        <a href="#">LEARN MORE</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="p-col-12 p-lg-8">
        <div class="card widget-chat">
            <h4>Chat</h4>
            <ul>
                <li class="clearfix message-from">
                    <img src="assets/layout/images/avatar2.png" alt="ultima-layout"/>
                    <span>Retro occupy organic, stumptown shabby chic pour-over roof party DIY normcore.</span>
                </li>
                <li class="clearfix message-own">
                    <img src="assets/layout/images/profile-image.png" alt="ultima-layout"/>
                    <span>Actually artisan organic occupy, Wes Anderson ugh whatever pour-over gastropub selvage.</span>
                </li>
                <li class="clearfix message-from">
                    <img src="assets/layout/images/avatar2.png" alt="ultima-layout"/>
                    <span>Chillwave craft beer tote bag stumptown quinoa hashtag.</span>
                </li>
                <li class="clearfix message-own">
                    <img src="assets/layout/images/profile-image.png" alt="ultima-layout"/>
                    <span>Dreamcatcher locavore iPhone chillwave, occupy trust fund slow-carb distillery art party narwhal.</span>
                </li>
                <li class="clearfix message-own">
                    <span>Sed ut perspiciatis unde omnis iste natus.</span>
                </li>
                <li class="clearfix message-from">
                    <img src="assets/layout/images/avatar2.png" alt="ultima-layout"/>
                    <span>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse.</span>
                </li>
                <li class="clearfix message-own">
                    <img src="assets/layout/images/profile-image.png" alt="ultima-layout"/>
                    <span>At vero eos et accusamus.</span>
                </li>
            </ul>
            <div class="new-message">
                <div class="message-attachment">
                    <i class="pi pi-paperclip"></i>
                </div>
                <div class="message-input">
                    <input type="text" placeholder="Write a message"/>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card">
            <h4>Activity</h4>
            <div class="activity-header">
                <div class="p-grid">
                    <div class="p-col-6">
                        <span style="font-weight:bold">Last Activity</span>
                        <p>Updated 1 minute ago</p>
                    </div>
                    <div class="p-col-6" style="text-align:right">
                        <button type="button" label="Update" icon="pi pi-refresh" pButton></button>
                    </div>
                </div>
            </div>
            <ul class="widget-activity-list">
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Income</h5>
                        <div class="count">$900</div>
                    </div>
                    <p-progressBar value="95" [showValue]="false"></p-progressBar>
                </li>
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Tax</h5>
                        <div class="count" style="background-color:#f9c851">$250</div>
                    </div>
                    <p-progressBar value="24" [showValue]="false"></p-progressBar>
                </li>
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Invoices</h5>
                        <div class="count" style="background-color:#20d077">$125</div>
                    </div>
                    <p-progressBar value="55" [showValue]="false"></p-progressBar>
                </li>
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Revenue</h5>
                        <div class="count" style="background-color:#ef6262">$500</div>
                    </div>
                    <p-progressBar value="25" [showValue]="false"></p-progressBar>
                </li>
            </ul>
        </div>
    </div>
</div>
