<p-splitButton label="filtrar" icon="pi pi-check" (onClick)="filtrar(filtrado)" [model]="items" ></p-splitButton>
<button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="list()"></button>
<p-messages severity="info" *ngIf="tipoHabitaciones.length == 0">
    <ng-template pTemplate>
        <div class="p-ml-2">no hay habitadciones con este estado</div>
    </ng-template>
</p-messages>
<app-habitaciones *ngIf="tipoHabitaciones.length > 0" [tipoHabitaciones]="tipoHabitaciones"></app-habitaciones>