<html>
    <body class="titulo">
        <h1>
            CHECK-OUT
        </h1>
    </body>
    <body class="subtitulos">
        <div class="p-field p-grid">
            <label for="cedula" class="p-col-fixed" style="width:100px">Cedula:</label>
            <div class="p-col">
                <input name="cedula" type="text"> 
            </div>
            <div class="buttoncargar" id="botoncargar">
                <button>Cargar</button>
            </div>
        </div>
        <h2>         
            Fechas de estadia
        </h2>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="fechadeingreso">Fecha de ingreso:</label>
                <input name="fechadeingreso" type="text"
                > 
            </div>
            <div class="p-field p-col">
                <label for="diashospedados">Dias hospedados:</label>
                <input name="diashospedados" type="text"> 
            </div>
            <div class="p-field p-col">
                <label for="fechadeegreso">Fecha de egreso:</label>
                <input name="fechadeegreso" type="text"> 
            </div>
        </div>
        <h2>Datos del huesped</h2> 
        <div class="p-field p-grid">
            <label for="nombres" class="p-col-fixed" style="width:100px">Nombres:</label>
            <div class="p-col">
                <input name="nombre" type="text"> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="apellidos" class="p-col-fixed" style="width:100px">Apellidos:</label>
            <div class="p-col">
                <input name="apellido" type="text"> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="ciudad" class="p-col-fixed" style="width:100px">Ciudad:</label>
            <div class="p-col">
                <input name="ciudad" type="text"> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="direccion" class="p-col-fixed" style="width:100px">Direccion:</label>
            <div class="p-col">
                <input name="direccion" type="text"> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="email" class="p-col-fixed" style="width:100px">E-mail:</label>
            <div class="p-col">
                <input name="email" type="text"> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="celular" class="p-col-fixed" style="width:100px">Celular:</label>
            <div class="p-col">
                <input name="celular" type="text"> 
            </div>
        </div>
        <h2>Datos de la reservacion</h2> 
        <div class="card">
            <p-table responsiveLayout="scroll" [value]="products">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Numero de habitacion </th>
                        <th>Tipo</th>
                        <th>Precio</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-columns="columns">
                    <tr>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.price | currency:'USD'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <h2>Adeudos</h2>
        <div class="card">
            <p-table responsiveLayout="stack" [value]="products">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Codigo </th>
                        <th>Servicio</th>
                        <th>Precio unitario</th>
                        <th>Precio importe</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-columns="columns">
                    <tr>
                        <td><span class="p-column-title">Name</span>{{product.name}}</td>
                        <td><span class="p-column-title">Price</span>{{product.price | currency:'USD'}}</td>
                        <td><span class="p-column-title">Category</span>{{product.category}}</td>
                        <td><span class="p-column-title">Quantity</span>{{product.quantity}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <h2>Metodo de pago</h2>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="tipodepago">Tipo:</label>
                <input name="tipodepago" type="text"
                > 
            </div>
            <div class="p-field p-col">
                <label for="numerodepago">Numero de pago:</label>
                <input name="numerodepago" type="text"> 
            </div>
            <div class="p-field p-col">
                <label for="titular">Titular:</label>
                <input name="titular" type="text"> 
            </div>
            <div class="p-field p-col">
                <label for="monto">Monto:</label>
                <input name="monto" type="text"> 
            </div>
        </div>
        <div class="buttoncancelar">
            <button type="submit">Cancelar</button>
        </div>
        <div class="buttonguardar" id="botonguardar">
            <button type="submit">Guardar</button>
        </div>
    </body>
</html>