<p-toast></p-toast>
<div class="p-d-flex">
    <div class="p-fluid">
        <button
            pButton
            pRipple
            type="button"
            label="Regresar"
            icon="pi pi-arrow-circle-left"
            iconPos="left"
            routerLink="/check-out"
            class="p-button-info"
        ></button>
    </div>
    <div class="p-fluid">
        <button
            pButton
            pRipple
            type="button"
            label="descargar"
            icon="pi pi-file-pdf"
            iconPos="left"
            class="p-button-info"
            (click)="descargar(checkOut.id)"
        ></button>
    </div>
</div>
<html id="descarga">
    <div >
    <body class="titulo"> 
        <h1>CHECK-OUT</h1>
    </body>
    <body class="subtitulos">
        <h2>Fechas de estadia</h2>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="fechadeingreso">Fecha de ingreso:</label>
                <input
                    name="fechadeingreso"
                    [(ngModel)]="checkOut.fechaIngreso"
                    type="text"
                    disabled
                />
            </div>
            <div class="p-field p-col">
                <label for="diashospedados">Dias hospedados:</label>
                <input
                    name="diashospedados"
                    [(ngModel)]="checkOut.numeroDias"
                    type="text"
                    disabled
                />
            </div>
            <div class="p-field p-col">
                <label for="fechadeegreso">Fecha de egreso:</label>
                <input
                    *ngIf="checkOut != null"
                    [(ngModel)]="checkOut.fechaEgreso"
                    name="fechadeegreso"
                    type="text"
                    disabled
                />
            </div>
        </div>
        <h2>Fechas de estadia</h2>
        <div class="p-field p-grid">
            <label for="segundo nombre" class="p-col-fixed" style="width: 100px"
                >Cedula:</label
            >
            <div class="p-col">
                <input
                    [(ngModel)]="checkOut.persona.identificacion"
                    name="priNombre"
                    type="text"
                    disabled
                />
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="primer nombre" class="p-col-fixed" style="width: 100px"
                >Primer nombre:</label
            >
            <div class="p-col">
                <input
                    [(ngModel)]="checkOut.persona.priNombre"
                    name="priNombre"
                    type="text"
                    disabled
                />
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="primer nombre" class="p-col-fixed" style="width: 100px"
                >Segunda nombre:</label
            >
            <div class="p-col">
                <input
                    [(ngModel)]="checkOut.persona.segNombre"
                    name="priNombre"
                    type="text"
                    disabled
                />
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="apellidos" class="p-col-fixed" style="width: 100px"
                >Primer apellido:</label
            >
            <div class="p-col">
                <input
                    name="apellido"
                    [(ngModel)]="checkOut.persona.priApellido"
                    type="text"
                    disabled
                />
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="apellidos" class="p-col-fixed" style="width: 100px"
                >Segundo apellido:</label
            >
            <div class="p-col">
                <input
                    name="apellido"
                    [(ngModel)]="checkOut.persona.segApellido"
                    type="text"
                    disabled
                />
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="ciudad" class="p-col-fixed" style="width: 100px"
                >Genero:</label
            >
            <div class="p-col">
                <input
                    [(ngModel)]="checkOut.persona.genero"
                    name="ciudad"
                    type="text"
                    disabled
                />
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="direccion" class="p-col-fixed" style="width: 100px"
                >Direccion:</label
            >
            <div class="p-col">
                <input
                    [(ngModel)]="checkOut.persona.direccion"
                    name="direccion"
                    type="text"
                    disabled
                />
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="email" class="p-col-fixed" style="width: 100px"
                >E-mail:</label
            >
            <div class="p-col">
                <input
                    [(ngModel)]="checkOut.persona.correo"
                    name="email"
                    type="text"
                    disabled
                />
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="celular" class="p-col-fixed" style="width: 100px"
                >Celular:</label
            >
            <div class="p-col">
                <input
                    [(ngModel)]="checkOut.persona.telefono"
                    name="celular"
                    type="text"
                    disabled
                />
            </div>
        </div>
        <h2>Datos de la reservacion</h2>
        <div class="card">
            <p-table responsiveLayout="scroll" [value]="checkOut.habitacion">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Numero de habitacion</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-columns="columns">
                    <tr>
                        <td>{{ product.numHabitacion }}</td>
                        <td>{{ product.tipoHabitacion.nomTipoHabitacion }}</td>
                        <td>
                            {{
                                product.tipoHabitacion.precioHabitacion
                                    | currency: "USD"
                            }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <h2>Adeudos</h2>
        <div class="card">
            <p-table responsiveLayout="scroll" [value]="checkOut.adeudos">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>servicio</th>
                        <th>precio unitario</th>
                        <th>importe</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-columns="columns">
                    <tr>
                        <td>{{ product.servicioHabitacion }}</td>
                        <td>{{ product.precioUnitario | currency: "USD" }}</td>
                        <td>
                            {{ product.importe }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <h2>Metodo de pago</h2>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="tipodepago">Fecha venta:</label>
                <input
                    [(ngModel)]="checkOut.ventas.fecVenta"
                    name="fechaVenta"
                    type="text"
                    disabled
                />
            </div>
            <div class="p-field p-col">
                <label for="numerodepago">Total venta:</label>
                <input
                    [(ngModel)]="checkOut.ventas.totalVente"
                    name="totalVenta"
                    type="text"
                    disabled
                />
            </div>
            <div class="p-field p-col">
                <label for="titular">Tipo pago:</label>
                <input
                    [(ngModel)]="checkOut.ventas.pago.tipoPago"
                    name="tipoPago"
                    type="text"
                    disabled
                />
            </div>
            <div class="p-field p-col">
                <label for="monto">Fecha pago:</label>
                <input
                    [(ngModel)]="checkOut.ventas.pago.fechaPago"
                    name="fechaPago"
                    type="text"
                    disabled
                />
            </div>
            <div class="p-field p-col">
                <label for="monto">Id transaccion:</label>
                <input
                    [(ngModel)]="checkOut.ventas.pago.idTransaccion"
                    name="fechaPago"
                    type="text"
                    disabled
                />
            </div>
        </div>
    </body>
    </div>
</html>
