<div class="p-grid dashboard">
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="p-grid p-nogutter card overview-box overview-box-1">
            <span class="overview-box-name">Unread Messages</span>
            <span class="overview-box-count">150</span>
            <span class="overview-box-badge">+30%</span>
            <img src="assets/layout/images/dashboard/chart-1.svg" />
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="p-grid p-nogutter card overview-box overview-box-2">
            <span class="overview-box-name">Check-Ins</span>
            <span class="overview-box-count">532</span>
            <span class="overview-box-badge">+45%</span>
            <img src="assets/layout/images/dashboard/chart-2.svg" />
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="p-grid p-nogutter card overview-box overview-box-3">
            <span class="overview-box-name">Files Synced</span>
            <span class="overview-box-count">640</span>
            <span class="overview-box-badge">-75%</span>
            <img src="assets/layout/images/dashboard/chart-3.svg" />
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="p-grid p-nogutter card overview-box overview-box-4">
            <span class="overview-box-name">Users Online</span>
            <span class="overview-box-count">5251</span>
            <span class="overview-box-badge">25%</span>
            <img src="assets/layout/images/dashboard/chart-4.svg" />
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="user-card p-shadow-content">
            <div class="user-card-header">
                <img src="assets/layout/images/dashboard/user-card-header.png"/>
            </div>
            <div class="user-card-content">
                <img src="assets/layout/images/profile-image.png" />
                <button pButton id="user-button" type="button" icon="pi pi-plus" (click)="menu.toggle($event)" class="secondary"></button>

                <p-menu #menu popup="popup" [model]="items"></p-menu>

                <div class="user-card-name">
                    <span>Claire White</span>
                </div>

                <div class="user-detail">
                   <ul>
                     <li class="clearfix">
                         <div class="project-progressbar">
                             <div class="project-progressbar-value" style="width: 50%"></div>
                         </div>
                         <i class="pi pi-list"></i>
                         <span class="project-title">Tasks</span>
                         <span class="project-detail">3 open</span>
                     </li>
                     <li class="clearfix">
                         <div class="project-progressbar">
                             <div class="project-progressbar-value" style="width: 20%"></div>
                         </div>
                         <i class="pi pi-dollar"></i>
                         <span class="project-title">Revenue</span>
                         <span class="project-detail">+20%</span>
                     </li>
                     <li class="clearfix">
                         <div class="project-progressbar">
                             <div class="project-progressbar-value" style="width: 65%"></div>
                         </div>
                         <i class="pi pi-money-bill"></i>
                         <span class="project-title">Payments</span>
                         <span class="project-detail">24 new</span>

                     </li>
                     <li class="clearfix">
                         <div class="project-progressbar">
                             <div class="project-progressbar-value" style="width: 80%"></div>
                         </div>
                         <i class="pi pi-briefcase"></i>
                         <span class="project-title">Clients</span>
                         <span class="project-detail">+80%</span>
                     </li>
                   </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-8 chat">
        <p-panel header="Chat" styleClass="p-shadow-content">
            <ul>
                <li class="clearfix message-from">
                    <img src="assets/layout/images/avatar2.png"/>
                    <span>Retro occupy organic, stumptown shabby chic pour-over roof party DIY normcore.</span>
                </li>
                <li class="clearfix message-own">
                    <img src="assets/layout/images/profile-image.png"/>
                    <span>Actually artisan organic occupy, Wes Anderson ugh whatever pour-over gastropub selvage.</span>
                </li>
                <li class="clearfix message-from">
                    <img src="assets/layout/images/avatar2.png"/>
                    <span>Chillwave craft beer tote bag stumptown quinoa hashtag.</span>
                </li>
                <li class="clearfix message-own">
                    <img src="assets/layout/images/profile-image.png"/>
                    <span>Dreamcatcher locavore iPhone chillwave, occupy trust fund slow-carb distillery art party narwhal.</span>
                </li>
                <li class="clearfix message-own">
                    <span>Sed ut perspiciatis unde omnis iste natus.</span>
                </li>
                <li class="clearfix message-from">
                    <img src="assets/layout/images/avatar2.png"/>
                    <span>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse.</span>
                </li>
                <li class="clearfix message-own">
                    <img src="assets/layout/images/profile-image.png"/>
                    <span>At vero eos et accusamus.</span>
                </li>
            </ul>
            <div class="new-message">
                <div class="message-attachment">
                    <i class="pi pi-paperclip"></i>
                </div>
                <div class="message-input">
                    <input type="text" pInputText placeholder="Write a message" />
                </div>
            </div>
        </p-panel>
    </div>

    <div class="p-col-12 activity-feed">
        <p-panel header="ACTIVITY FEED" styleClass="p-shadow-content">
            <h3>Last Activity</h3>
            <p>Updated 1 minute ago</p>
            <div class="p-grid">
                <div class="p-col-12 p-md-3">
                    <span>INCOME</span>
                    <div class="knob income">$900</div>
                </div>
                <div class="p-col-12 p-md-3">
                    <span>TAX</span>
                    <div class="knob tax">$250</div>
                </div>
                <div class="p-col-12 p-md-3">
                    <span>INVOICES</span>
                    <div class="knob invoice">$125</div>
                </div>
                <div class="p-col-12 p-md-3">
                    <span>EXPENSES</span>
                    <div class="knob expense">$250</div>
                </div>
            </div>
        </p-panel>
    </div>

    <div class="p-col-12 p-md-6 p-lg-4 task-list">
        <p-panel header="Tasks" styleClass="p-shadow-content">
            <ul>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">Sales Reports</span>
                    <i class="pi pi-briefcase"></i>
                </li>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">Pay Invoices</span>
                    <i class="pi pi-file"></i>
                </li>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">Dinner with Tony</span>
                    <i class="pi pi-comments"></i>
                </li>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">Client Meeting</span>
                    <i class="pi pi-users"></i>
                </li>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">New Theme</span>
                    <i class="pi pi-palette"></i>
                </li>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">Flight Ticket</span>
                    <i class="pi pi-ticket"></i>
                </li>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">Generate Charts</span>
                    <i class="pi pi-chart-bar"></i>
                </li>
                <li>
                    <p-checkbox binary="true"></p-checkbox>
                    <span class="task-name">Call Client</span>
                    <i class="pi pi-mobile"></i>
                </li>
            </ul>
        </p-panel>
    </div>
    <div class="p-col-12 p-md-6 p-lg-4 p-fluid contact-form">
        <p-panel header="Contact Us" styleClass="p-shadow-content">
            <div class="p-grid">
                <div class="p-col-12">
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                </div>
                <div class="p-col-12">
                    <span class="p-float-label">
                        <input id="name" type="text" pInputText />
                        <label for="name">Name</label>
                    </span>
                </div>
                <div class="p-col-12">
                    <span class="p-float-label">
                        <input id="age" type="text" pInputText />
                        <label for="age">Age</label>
                    </span>
                </div>
            </div>
            <button type="button" label="Send" icon="pi pi-check" pButton></button>
        </p-panel>
    </div>

    <div class="p-col-12 p-lg-4 contacts">
        <p-panel header="Contacts" [style]="{'min-height':'360px'}" styleClass="p-shadow-content">
            <ul>
                <li class="clearfix">
                    <img src="assets/layout/images/profile-image.png" style="width: 45px"/>
                    <div class="contact-info">
                        <span class="name">Jane White (me)</span>
                        <span class="location">jane@pf-barcelona.com</span>
                    </div>
                    <div class="contact-actions">
                        <span class="connection-status online">online</span>
                        <i class="pi pi-envelope"></i>
                        <i class="pi pi-reply"></i>
                    </div>
                </li>
                <li class="clearfix">
                    <img src="assets/layout/images/avatar1.png" style="width: 45px"/>
                    <div class="contact-info">
                        <span class="name">Joshua Williams</span>
                        <span class="location">joshua@pf-barcelona.com</span>
                    </div>
                    <div class="contact-actions">
                        <span class="connection-status online">online</span>
                        <i class="pi pi-envelope"></i>
                        <i class="pi pi-reply"></i>
                    </div>
                </li>
                <li class="clearfix">
                    <img src="assets/layout/images/avatar2.png" style="width: 45px"/>
                    <div class="contact-info">
                        <span class="name">Emily Clark</span>
                        <span class="location">emily@pf-barcelona.com</span>
                    </div>
                    <div class="contact-actions">
                        <span class="connection-status offline">offline</span>
                        <i class="pi pi-envelope"></i>
                        <i class="pi pi-reply"></i>
                    </div>
                </li>
                <li class="clearfix">
                    <img src="assets/layout/images/avatar3.png" style="width: 45px"/>
                    <div class="contact-info">
                        <span class="name">Tim Johnson</span>
                        <span class="location">tim@pf-barcelona.com</span>
                    </div>
                    <div class="contact-actions">
                        <span class="connection-status online">online</span>
                        <i class="pi pi-envelope"></i>
                        <i class="pi pi-reply"></i>
                    </div>
                </li>
                <li class="clearfix">
                    <img src="assets/layout/images/avatar4.png" style="width: 45px"/>
                    <div class="contact-info">
                        <span class="name">David Stark</span>
                        <span class="location">kelly@pf-barcelona.com</span>
                    </div>
                    <div class="contact-actions">
                        <span class="connection-status offline">offline</span>
                        <i class="pi pi-envelope"></i>
                        <i class="pi pi-reply"></i>
                    </div>
                </li>
            </ul>
        </p-panel>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="card timeline p-fluid">
            <div class="p-grid">
                <div class="p-col-3">
                    <span class="event-time">just now</span>
                    <i class="pi pi-map-marker" style="color:#009688"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#009688">Katherine May</span>
                    <span class="event-text">Lorem ipsun dolor amet</span>
                    <div class="event-content">
                        <img src="assets/layout/images/dashboard/bridge.png">
                    </div>
                </div>

                <div class="p-col-3">
                    <span class="event-time">12h ago</span>
                    <i class="pi pi-star-o" style="color:#E91E63"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#E91E63">Brandon Santos</span>
                    <span class="event-text">Ab nobis, magnam sunt eum. Laudantium, repudiandae, similique!.</span>
                </div>

                <div class="p-col-3">
                    <span class="event-time">15h ago</span>
                    <i class="pi pi-comment" style="color:#9c27b0"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#9c27b0">Stephan Ward</span>
                    <span class="event-text">Omnis veniam quibusdam ratione est repellat qui nam quisquam ab mollitia dolores ullam voluptates, similique, dignissimos.</span>
                </div>

                <div class="p-col-3">
                    <span class="event-time">2d ago</span>
                    <i class="pi pi-globe" style="color:#ff9800"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#ff9800">Jason Smith</span>
                    <span class="event-text">Laudantium, repudiandae, similique!</span>
                    <div class="event-content">
                        <img src="assets/layout/images/dashboard/map.png">
                    </div>
                </div>

                <div class="p-col-3">
                    <span class="event-time">1w ago</span>
                    <i class="pi pi-heart" style="color:#607d8b"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner">Kevin Cox</span>
                    <span class="event-text">Quibusdam ratione est repellat qui nam quisquam veniam quibusdam ratione.</span>
                </div>

                <div class="p-col-3">
                    <span class="event-time">2w ago</span>
                    <i class="pi pi-compass" style="color:#FFC107"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#FFC107">Walter White</span>
                    <span class="event-text">I am the one who knocks!</span>
                </div>

                <div class="p-col-12">
                    <button type="button" label="Refresh" icon="pi pi-refresh" pButton></button>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-8">
        <div class="card">
            <p-table [value]="products" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Logo</th>
                        <th pSortableColumn="name">Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category">Category
                            <p-sortIcon field="category"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">Price
                            <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="50px" />
                        </td>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.price | currency:'USD'}}</td>
                        <td style="text-align: center">
                            <button pButton type="button" icon="pi pi-search" class="p-button-success p-mr-2 p-mb-1"></button>
                            <button pButton type="button" icon="pi pi-times" class="p-button-danger p-mb-1"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-panel header="Sales Graph">
                <div style="overflow:auto">
                    <p-chart type="line" [data]="chartData" responsive="true"></p-chart>
                </div>
            </p-panel>
        </div>
    </div>

    <div class="p-col-12 p-md-8">
        <p-panel header="Calendar" [style]="{'height':'100%'}">
            <p-fullCalendar [events]="events" [options]="fullcalendarOptions" ></p-fullCalendar>
        </p-panel>
    </div>
    <div class="p-col-12 p-md-4">
        <p-panel header="Activity" [style]="{'height':'100%'}">
            <div class="activity-header">
                <div class="p-grid">
                    <div class="p-col-6">
                        <span style="font-weight:bold">Last Activity</span>
                        <p>Updated 1 minute ago</p>
                    </div>
                    <div class="p-col-6" style="text-align:right">
                        <button type="button" label="Update" icon="pi pi-refresh" pButton></button>
                    </div>
                </div>
            </div>
            <ul class="activity-list">
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Income</h5>
                        <div class="count">$900</div>
                    </div>
                    <p-progressBar value="95" [showValue]="false"></p-progressBar>
                </li>
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Tax</h5>
                        <div class="count" style="background-color:#f9c851">$250</div>
                    </div>
                    <p-progressBar value="24" [showValue]="false"></p-progressBar>
                </li>
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Invoices</h5>
                        <div class="count" style="background-color:#20d077">$125</div>
                    </div>
                    <p-progressBar value="55" [showValue]="false"></p-progressBar>
                </li>
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Expenses</h5>
                        <div class="count" style="background-color:#f9c851">$250</div>
                    </div>
                    <p-progressBar value="15" [showValue]="false"></p-progressBar>
                </li>
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Bonus</h5>
                        <div class="count" style="background-color:#007be5">$350</div>
                    </div>
                    <p-progressBar value="5" [showValue]="false"></p-progressBar>
                </li>
                <li>
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">Revenue</h5>
                        <div class="count" style="background-color:#ef6262">$500</div>
                    </div>
                    <p-progressBar value="25" [showValue]="false"></p-progressBar>
                </li>
            </ul>
        </p-panel>
    </div>
</div>
