<p-toast ></p-toast>
<html>
    <div class="p-d-flex">
        <div class="p-fluid">
            <button pButton pRipple type="button" label="Regresar" icon="pi pi-arrow-circle-left" iconPos="left" 
            routerLink="/check-in" class="p-button-info"></button>
        </div>
    </div>
    <body class="titulo">
        <h1>
            CHECK-IN
        </h1>
    </body>
    <body class="subtitulos">
        <h2>         
            Fechas de estadia
        </h2>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="diashospedados">Dias hospedados:</label>
                <input disabled name="diashospedados" [(ngModel)]="checkIn.numeroDias" type="text"> 
            </div>
            <div class="p-field p-col">
                <label for="fechadeingreso">Fecha de ingreso:</label>
                <input disabled name="fechadeingreso" [(ngModel)]="checkIn.fechaIngreso" type="text"> 
            </div>
            <div class="p-field p-col">
                <label for="fechadeegreso">Fecha de egreso:</label>
                <input disabled name="fechadeegreso" [(ngModel)]="checkIn.fechaSalida" type="text"> 
            </div>
        </div>
        <h2>Datos del huesped</h2>
        <div class="p-field p-grid">
            <label for="cedula" class="p-col-fixed" style="width:100px">Cedula:</label>
            <div class="p-col">
                <!-- <input name="cedula" [(ngModel)]="plantillaUsuario.identificacion" type="number" -->
                <input disabled name="cedula" [(ngModel)]="checkIn.usuario.cedula" type="number"
                pTooltip="Ingrese la cedula del usuario"> 
            </div>
        </div> 
        <div class="p-field p-grid">
            <label for="nombres" class="p-col-fixed" style="width:100px">Nombres:</label>
            <div class="p-col">
                <input disabled name="nombre" [(ngModel)]="checkIn.usuario.nombre" type="text"> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="apellidos" class="p-col-fixed" style="width:100px">Apellidos:</label>
            <div class="p-col">
                <input disabled name="apellido" [(ngModel)]="checkIn.usuario.apellido" type="text"> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="ciudad" class="p-col-fixed" style="width:100px">Genero:</label>
            <div class="p-col">
                <input disabled name="ciudad" [(ngModel)]="checkIn.usuario.genero" type="text"> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="direccion" class="p-col-fixed" style="width:100px">Direccion:</label>
            <div class="p-col">
                <input disabled name="direccion" [(ngModel)]="checkIn.usuario.direccion" type="text"> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="email" class="p-col-fixed" style="width:100px">E-mail:</label>
            <div class="p-col">
                <input disabled name="email" [(ngModel)]="checkIn.usuario.email" type="text"> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="celular" class="p-col-fixed" style="width:100px">Celular:</label>
            <div class="p-col">
                <input disabled name="celular" [(ngModel)]="checkIn.usuario.telefono" type="text"> 
            </div>
        </div>
        <h2>Datos de la reservacion</h2> 
        <div class="card">
            <p-table responsiveLayout="scroll" [value]="habitacion" *ngIf="habitacion?.length>0; else aviso">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Numero de Habitación</th>
                        <th>Tipo</th>
                        <th>Precio</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-habitacion let-columns="columns">
                    <tr>
                        <td>{{habitacion.numeroHabitacion}}</td>
                        <td>{{habitacion.tipo}}</td>
                        <td>{{habitacion.tarifa | currency:'USD'}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <ng-template #aviso>
                <p-card>
                     No hay habitaciones
                </p-card>
            </ng-template>
            
        </div>
    </body>
</html>