$primaryColor:#3f51b5;
$primaryLightColor:#7986cb;
$primaryTextColor:#c5cae9;
$primaryTextHoverColor:#e8eaf6;
$accentColor:#03a9f4;
$accentLightColor:#B3E5FC;
$accentTextColor:#ffffff;
$activeMenuItemTextColor:#3f51b5;
$darkActiveMenuItemTextColor:#9fa8da;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;

@import '../../sass/layout/_layout';