$primaryColor:#43A047;
$primaryLightColor:#66BB6A;
$primaryTextColor:#E8F5E9;
$primaryTextHoverColor:#FFFFFF;
$accentColor:#FBC02D;
$accentLightColor:#FFF9C4;
$accentTextColor:#000000;
$activeMenuItemTextColor:#388E3C;
$darkActiveMenuItemTextColor:#4CAF50;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;

@import '../../sass/layout/_layout';