$primaryColor:#2f4050;
$primaryLightColor:#586672;
$primaryTextColor:#d5d8dc;;
$primaryTextHoverColor:#eaebed;
$accentColor:#1ab394;
$accentLightColor:#d1efe9;
$accentTextColor:#ffffff;
$activeMenuItemTextColor:#1ab394;
$darkActiveMenuItemTextColor:#1ab394;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#8b9093;
$darkMenuItemHoverBgColor:#586672;
$darkSidemenuBgColor:#0c1c2c;
$darkMenuBgColor:#243241;

@import '../../sass/layout/_layout';