$primaryColor:#607D8B;
$primaryLightColor:#90A4AE;
$primaryTextColor:#CFD8DC;
$primaryTextHoverColor:#ECEFF1;
$accentColor:#8BC34A;
$accentLightColor:#DCEDC8;
$accentTextColor:#ffffff;
$activeMenuItemTextColor:#8BC34A;
$darkActiveMenuItemTextColor:#8BC34A;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;

@import '../../sass/layout/_layout';