$primaryColor:#03A9F4;
$primaryLightColor:#2196F3;
$primaryTextColor:#E1F5FE;
$primaryTextHoverColor:#ffffff;
$accentColor:#8BC34A;
$accentLightColor:#DCEDC8;
$accentTextColor:#ffffff;
$activeMenuItemTextColor:#03A9F4;
$darkActiveMenuItemTextColor:#4FC3F7;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;

@import '../../sass/layout/_layout';