$primaryColor:#3e464c;
$primaryLightColor:#646a6f;
$primaryTextColor:#d8dadb;
$primaryTextHoverColor:#ebeced;
$accentColor:#5180ce;
$accentLightColor:#cad8f0;
$accentTextColor:#ffffff;
$activeMenuItemTextColor:#5180ce;
$darkActiveMenuItemTextColor:#7399d7;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#51585d;
$darkSidemenuBgColor:#22272a;
$darkMenuBgColor:#2b3135;

@import '../../sass/layout/_layout';