$primaryColor:#00796b;
$primaryLightColor:#009688;
$primaryTextColor:#b2dfdb;
$primaryTextHoverColor:#ffffff;
$accentColor:#FFC107;
$accentLightColor:#FFECB3;
$accentTextColor:#000000;
$activeMenuItemTextColor:#00796b;
$darkActiveMenuItemTextColor:#4DB6AC;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;

@import '../../sass/layout/_layout';