$primaryColor:#673ab7;
$primaryLightColor:#9575cd;
$primaryTextColor:#d1c4e9;
$primaryTextHoverColor:#ede7f6;
$accentColor:#e91e63;
$accentLightColor:#F8BBD0;
$accentTextColor:#ffffff;
$activeMenuItemTextColor:#673ab7;
$darkActiveMenuItemTextColor:#b39ddb;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;

@import '../../sass/layout/_layout';