$primaryColor:#1976d2;
$primaryLightColor:#2196F3;
$primaryTextColor:#BBDEFB;
$primaryTextHoverColor:#E3F2FD;
$accentColor:#FFC107;
$accentLightColor:#FFECB3;
$accentTextColor:#000000;
$activeMenuItemTextColor:#1976d2;
$darkActiveMenuItemTextColor:#2196F3;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;

@import '../../sass/layout/_layout';