$primaryColor:#0097a7;
$primaryLightColor:#00BCD4;
$primaryTextColor:#b2ebf2;
$primaryTextHoverColor:#E0F7FA;
$accentColor:#ffa000;
$accentLightColor:#ffe082;
$accentTextColor:#000000;
$activeMenuItemTextColor:#0097a7;
$darkActiveMenuItemTextColor:#00BCD4;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;

@import '../../sass/layout/_layout';