<p-toast ></p-toast>
<div class="p-d-flex">
    <div class="p-fluid">
        <button pButton pRipple type="button" label="Regresar" icon="pi pi-arrow-circle-left" iconPos="left" 
        routerLink="/check-in" class="p-button-info"></button>
    </div>
</div>

<h1>Crear Check-Out</h1>

    <div class="card">
        <div class="">
            <h4>Fecha de Estadia</h4>
        </div>

        <div class="p-fluid p-formgrid p-grid">
    
                <div class="p-field p-col">
                    <label for="calendar1">Fecha de Ingreso</label>
                    <p-calendar inputId="basic" [(ngModel)]="checkOut.fechaIngreso"  dateFormat="yy-mm-dd"
                    showButtonBar="true" yearRange="2000:2030" [showIcon]="true"
                    [readonlyInput]="true" placeholder="Año-Mes-Dia"></p-calendar>
                </div>
                <div class="p-field p-col">
                    <label for="calendar2">Fecha de Salida</label>
                    <!-- <p-inputMask mask="9999-99-99" [(ngModel)]="newCheckIn.fechaSalida" placeholder="Año-Mes-Dia"></p-inputMask> -->
                    <p-calendar inputId="basic" [(ngModel)]="checkOut.fechaEgreso"  dateFormat="yy-mm-dd"
                    showButtonBar="true" yearRange="2000:2030" [showIcon]="true"
                    [readonlyInput]="true" placeholder="Año-Mes-Dia"></p-calendar>
                </div>
                <div class="p-field p-col">
                    <label for="inputnumber">Numero de Dias</label>
                    <p-inputNumber inputId="inputnumber" placeholder="N° Dias" [(ngModel)]="checkOut.numeroDias"
                    [disabled]=true></p-inputNumber>
                </div>
        </div>
    </div>
   
    <div class="card">
        <h4>Datos del Huesped</h4>
        <div class="p-field p-col-12 p-md-4">
            <label for="cedulaId">Cedula</label>
            <div class="p-formgroup-inline">
                <div class="p-field">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input minlength="1" [(ngModel)]="cedula" id="cedulaId" type="number" pInputText placeholder="Cedula">
                    </span> 
                </div>
                <div>
                    <button pButton pRipple type="button" label="Buscar" 
                    class="p-button-raised p-button-warning"
                    (click)="cargarPersona(cedula)"></button>
                </div>
            </div>
        </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="cedula">Cedula</label>
                    <input [(ngModel)]="persona.identificacion" id="cedula" type="text" pInputText disabled required> 
                </div>
                <div class="p-field p-col">
                    <label for="nombre">Nombre</label>
                    <input [(ngModel)]="persona.priNombre" id="nombre" type="text" pInputText disabled required> 
                </div>
                <div class="p-field p-col">
                    <label for="apellido">Apellido</label>
                    <input [(ngModel)]="persona.priApellido" id="apellido" type="text" pInputText disabled required> 
                </div>
                <div class="p-field p-col">
                    <label for="direccion">Direccion</label>
                    <input [(ngModel)]="persona.direccion" id="direccion" type="text" pInputText disabled required> 
                </div>
                <div class="p-field p-col">
                    <label for="email">Email</label>
                    <input [(ngModel)]="persona.correo" id="email" type="text" pInputText disabled required> 
                </div>
                <div class="p-field p-col">
                    <label for="telefono">Telefono</label>
                    <input [(ngModel)]="persona.telefono" id="telefono" type="text" pInputText disabled required> 
                </div>
            </div>
        
    </div>

    <div class="card">
        <h4>Datos de la Reservación</h4>
        <div class="p-field p-col-12 p-md-4">
            <label for="cedulaId">Habitacion</label>
            <div class="p-formgroup-inline">
                <div class="p-field">
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input [(ngModel)]="numHabitacion" id="cedulaId" type="number" pInputText placeholder="Habitacion">
                    </span> 
                </div>
                <div>
                    <button pButton pRipple type="button" label="Buscar" 
                    class="p-button-raised p-button-warning" 
                    (click)="buscarHabitacion(numHabitacion)"></button>
                </div>
            </div>
        </div>
        <p-table [value]="habitaciones" responsiveLayout="scroll" 
        *ngIf="habitaciones?.length>0; else aviso">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Numero de Habitación</th>
                    <th>Tipo</th>
                    <th>Precio</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-habitaciones let-columns="columns">
                <tr>
                    <td>{{habitaciones.numHabitacion}}</td>
                    <td>{{habitaciones.tipoHabitacion.nomTipoHabitacion}}</td>
                    <td>{{habitaciones.tipoHabitacion.precioHabitacion | currency:'USD'}}</td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template #aviso>
            <div class="card bg-color-hab">
                No hay habitaciones
            </div>
        </ng-template>
    </div>
    <div style="float: right;">
        <button styleClass="p-button-lg" pButton pRipple type="button" label="Crear Check-In" class="p-button-raised p-button-success"
        icon="pi pi-search" iconPos="right" (click)="crearCheckOut()"></button>
    </div>
